.buttons {
	width: 100%;
	justify-content: center;
	align-items: center;
	display:flex;
	
}


#overlay {
	display: inline;
}

/* Show the DOM Overlay element while active (:xr-overlay pseudoclass) */
#overlay:xr-overlay {
	display: initial;
}

#greeting {
	background-color: rgba(1, 1, 1, 0.25);
	margin: 10px;
}
  
#dom-overlay-message {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 20%;
	padding: 1em;
	background: #33333355;
	border-top: 5px solid #ffffff55;
	color: white;
}

#dom-overlay-description {
	position: absolute;
	top: 70%;
	left: 80%;
	width: 100%;
	height: 100%;
	padding: 1em;
	background: #33333355;
	border-top: 5px solid #ffffff55;
	color: white;
}
	
#startbutton {
	position: absolute;
	z-index: 10;
	display:block;
	margin-left:auto;
	margin-right:auto;
	top:10px;
	align-self: center;
	background-color: rgba(0, 150, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	font-family: "Lucida Grande", "Arial", sans-serif;
	color: rgba(255, 255, 255, 1.0);
}